<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanshen.jdbean.mapper.JdBeanMapper">

    <insert id="addBean" parameterType="com.yanshen.jdbean.utils.JdBean">
        insert into jd_code (code ,type,createtime) value (
        #{code},
        #{type},
        SYSDATE()
        )
    </insert>

    <select id="find" parameterType="com.yanshen.jdbean.utils.JdBean" resultType ="com.yanshen.jdbean.utils.JdBean">
        select  * from  jd_code where  code = #{code} and type =#{type} limit 1
    </select>
</mapper>